*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
  /* background-image: url("../dist/img/logo.jpg"); */
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.3);
  h1 {
    margin: 10px;
    text-align: center;
  }

  p {
    padding: 20px;
    text-align: center;
  }
}
