$white-basic: hwb(0 100% 0%);
$black-basic: #000;

// main palette
$white-light: #fefefe;
$white: #f2f2f2;
$black-main: #00000000;
$grey-text: rgb(90, 90, 90);
$grey-bg: #333;
$gold-dark: #fff;
$gold-darkxxxx: #ecc245;
$gold-light: #e2d166;
