$white-basic: hwb(0 100% 0%);
$black-basic: #2d2d2d;

// main palette
$white-light: #fefefe;
$white: #f2f2f2;
$black-main: #0000000d;
$grey-text: rgb(90, 90, 90);
$grey-bg: #333;
$gold-dark: #ecc245;
$gold-light: #e2d166;
