@use "../utilities/colors" as c;

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  padding: 5% 0 5% 0;
  color: c.$white-light;
  background-color: c.$black-main;
  background-image: url("../../../dist/img/visitcard.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  &__shadow {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(4px);
  }
  &__box {
    margin-bottom: 3%;
    z-index: 2;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem;
    filter: none;
    z-index: 1;

    &--heading {
      font-size: 4rem;
      letter-spacing: 1.3rem;
      padding-bottom: 2rem;
      font-family: "Oswald", sans-serif;
      z-index: 1;
    }

    &--subheading {
      font-size: 2rem;
    }
  }
  &__info,
  &__tel,
  &__mail,
  &__adress,
  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    z-index: 2;
  }
  &__tel-link,
  &__mail-link {
    color: c.$white-light;
    text-decoration: none;
    transition: color 0.3s;
    z-index: 2;

    &:hover {
      color: c.$gold-dark;
    }
  }

  &__socials-link {
    position: relative;
    font-size: 3.5rem;
    color: c.$white-light;
    padding-bottom: 2rem;
    transition: color 0.6s;
    z-index: 2;
    &:hover {
      color: c.$gold-light;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 20% 0 20% 0;
    background-color: c.$white-light;
    border-radius: 10px;
    z-index: 2;
    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      &--input {
        width: 100%;
        border: none;
        padding: 0.5rem;
        border-bottom: 1px solid c.$grey-text;
        &:focus {
          outline: none;
        }
      }

      &--label {
        font-size: 1.5rem;
        color: c.$grey-text;
        margin-bottom: 2rem;
        align-self: flex-end;
      }
    }

    .error-display {
      position: relative;
      font-size: 1.6rem;
      color: tomato;
    }
    .error-msg {
      overflow: hidden;
    }

    .message {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5rem;
      width: 100%;
      &__textarea {
        width: 75%;
        resize: vertical;
        min-height: 20rem;
        margin-bottom: 2rem;
        padding: 2rem 1rem 1rem 1rem;

        &--label {
          position: absolute;
          left: 15%;
          top: -4%;
          align-self: flex-start;
          font-size: 2rem;
          padding: 0 1rem 0 1rem;
          font-size: 1.5rem;
          color: c.$grey-text;
          background-color: c.$white-light;
        }
      }

      &__btn {
        position: relative;
        width: 50%;
        max-width: 20rem;
        padding: 0.6rem 0.8rem;
        margin-top: 1.5rem;
        border-radius: 5px;
        box-shadow: 1px 1px 3px;
        border: none;
        letter-spacing: 0.1rem;
        background: c.$black-main;
        color: c.$white-light;
        transition: color 0.3s, background-color 0.3s, border 0.3s, font-weight 0.3s,
          letter-spacing 0.3s;
        cursor: pointer;

        &:hover {
          letter-spacing: 0.15rem;
          color: c.$gold-light;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          border: 1px solid c.$gold-dark;
          opacity: 0;
        }
        &:hover::before {
          animation: pulse2 1s;
        }
      }
    }
    .email {
      width: 100%;
      border: none;
      padding: 0.5rem;
      border-bottom: 1px solid c.$grey-text;
      &::placeholder {
        font-size: 1.5rem;
      }
      &:focus {
        outline: none;
      }
    }
    .telNum {
      width: 100%;
      border: none;
      padding: 0.5rem;
      border-bottom: 1px solid c.$grey-text;
      &::placeholder {
        font-size: 1.5rem;
      }
      &:focus {
        outline: none;
      }
    }

    .policy-box {
      width: 100%;
      padding: 1rem;
      text-align: center;
      &__label {
        color: c.$black-main;
      }
      &__link {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        transition: color 0.2s;

        &:hover {
          color: c.$gold-dark;
        }
      }
    }
  }

  .msg-status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 10rem;
    font-size: 2.4rem;
    border-radius: 0.8rem;
  }
  .succes {
    display: flex;
    background-color: #3bb834;
  }
  .error {
    display: flex;
    background-color: #ff6347;
  }
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: c.$black-main;
  padding: 5% 0 5% 0;

  &__map {
    width: 70%;
    border-radius: 10px;
  }
}
