@use "../utilities/colors" as c;

.cookie-box {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 85%;
  max-width: 80rem;
  bottom: 5rem;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,.2);
  transform: translate(-50%);
  z-index: 100;
  
    &__header{
      padding: 10px;
    }

    &__text p {
      text-align-last: left;
      color: #858585;
      margin: 10px 0 20px 0;
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      width: 100%;
      
      &--accept,
      &--reject {
        display: flex;
        justify-content: center;
        padding: 12px 30px;
        border: none;
        outline: none;
        color: #fff;
        width: 10rem;
        text-align: center;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: all .3s;
        &:hover{
          scale: 1.1;
        }
      }
      
      
      &--accept {
        background: c.$black-main;
        margin-right: 10px;
        
      }
      &--reject {
        color: c.$black-main;
        background: transparent;
        border: 2px solid c.$black-main;
        text-decoration: none;
      }
    }
  }
  .hide {
    display: none;
  }



