@use "../utilities/colors" as c;

.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-top: 1px solid black;
  background-color: c.$white-light;
  padding-top: 8rem;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  overflow: hidden;

  &__bottom {
    grid-row: 4 / 5;
    grid-column: 3 / 11;
    padding: 2rem;
    border-top: 1px solid c.$gold-dark;
    text-align: center;
  }

  .adress {
    grid-column: 3 /7;
    padding-bottom: 1rem;
  }
  .hours {
    grid-column: 8 /12;
  }
  .footer-contact {
    grid-row: 2 / 3;
    grid-column: 3 / 8;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__link {
      text-decoration: none;
      color: black;
      transition: color 0.6s;
    }
    &__link:hover {
      color: c.$gold-dark;
    }
    &__tel-link,
    &__mail-link {
      font-size: 1.5rem;
      color: black;
      text-decoration: none;

      transition: color 0.3s;
    }
    &__tel-link:hover,
    &__mail-link:hover {
      color: c.$gold-dark;
    }
  }
  .privacy-policy {
    grid-row: 3 / 4;
    grid-column: 3 / 4;

    a {
      text-decoration: none;
      color: black;
      transition: color 0.3s;
    }
    a:hover {
      color: c.$gold-dark;
    }
  }

  .media {
    grid-row: 2 / 3;
    grid-column: 8 / 9;
    text-align: center;
    font-size: 4rem;
    i {
      padding: 0;
      color: black;
      transition: color 0.6s;
    }
    i:hover {
      color: c.$gold-dark;
    }
  }

  .adress,
  .hours,
  .footer-contact,
  .media,
  .privacy-policy {
    &__heading {
      font-size: 2rem;
      letter-spacing: 0.6rem;
      padding-bottom: 1rem;
      text-align: center;
      font-family: "Oswald", sans-serif;
    }
  }
}

@media (width <= 576px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-top: 5rem;

    .xs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
