@use "../utilities/colors" as c;

.gallery {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  clip-path: circle(0% at 50% 40%);
  transition: clip-path 0.8s;
  transition-delay: 50ms;
}

.display-gallery {
  clip-path: circle(150% at 50% 95%);
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  width: 40rem;
  height: 45rem;

  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    scroll-snap-type: x mandatory;
  }
  .outer-arrow-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    height: 70%;
    min-height: 50rem;
  }
  .img {
    position: absolute;
    opacity: 0;
    border-radius: 1rem;
    max-height: 100%;
    width: 100%;
    border: 5px solid c.$white-light;
    overflow: hidden;
    transition: right 0.5s, opacity 0.8s;
    scroll-snap-align: center;
  }
  .show-image {
    opacity: 1;
  }

  .arrow-outer {
    padding: 2rem;
    color: #fff;
    font-size: 4.5rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.2rem;
    transition: scale 0.3s, background-color 0.3s, color 0.8s;
    z-index: 1000;
  }

  .arrow-outer:hover {
    scale: 0.9;
    background-color: rgba(251, 251, 251, 0.848);
    color: c.$black-main;
  }
}

.carousel-thumbnails-wrapper {
  width: 31.5rem;
  height: 10rem;

  .carousel-thumbnails {
    display: flex;
    align-items: center;
    z-index: 1000;
    height: 10rem;
    width: 100%;
    border-radius: 0.5em;
    margin-top: 1em;
    background-color: transparent;
    overflow: hidden;

    .thumbnail-img {
      border-radius: 0.4em;
      width: 10rem;
      height: 100%;
      margin: 0.3rem;
      opacity: 1;
      cursor: pointer;
    }

    .thumbnail-disabled {
      opacity: 0.6;
      scale: 0.95;
    }
  }
}

@media (1000px < width< 1200px) {
  .carousel-wrapper {
    width: 80rem;
    height: 45rem;
    .img {
      width: 30rem;
    }
  }

}

@media (width < 576px) {
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    .carousel-wrapper {
      width: 100%;
      .img {
        width: 30rem;
      }
    }
    .carousel {
      position: relative;
    }
  }
  .carousel-thumbnails {
    display: inline-flex;
    z-index: 10000;
    min-height: 6em;
    width: 100%;
  }
}
