@use "../utilities/colors" as c;

.header {
  display: flex;
  flex-direction: column;
  border-top: 1px solid c.$gold-dark;
  border-bottom: 1px solid c.$gold-dark;
  padding-bottom: 5rem;
  .intro {
    display: flex;
    justify-content: center;
    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50vh;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 4rem;
      padding-bottom: 10rem;
      &--heading {
        font-size: 4rem;
        letter-spacing: 0.6rem;
        padding-bottom: 2rem;
        font-family: "Oswald", sans-serif;
      }
      &--heading::first-letter {
        color: c.$gold-dark;
      }
    }
  }
}
@media (width >= 1200px) {
  .intro {
    display: flex;
    flex-direction: row-reverse;
    height: 80vh;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 2rem;
    // background-color: #f8f7e7;
    &__img {
      width: 100vw;
    }

    // &__text {
    // }
  }
}

@media (768px < width < 1200px) {
  .intro {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (431px < width <= 768px) {
  .intro {
    flex-direction: column;
    align-items: center;
    &__hero {
      max-width: 80vw;
      height: 50vh;
    }
  }
}
@media (width <= 430px) {
  .intro {
    flex-direction: column;
    &__hero {
      max-width: 100vw;
      height: 100%;
    }
  }
}
