
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .rect-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
    width: 50rem;
    height: 45rem;
    font-family: "Libre Bodoni", serif;

    .rect-header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 60%;
      height: 70%;

      .text,
      .rect-subheader {
        animation: vanish 1s 3.25s forwards;
      }
      .text {
        position: absolute;
        font-size: 10rem;
        font-family: "Lora", serif;
        font-style: italic;
        opacity: 0;
        animation: shownameBig 3s 1s forwards;
      }
      .rect-subheader {
        position: absolute;
        left: 33%;
        width: 20rem;
        height: 3.5rem;
        background: transparent;

        .heading1 {
          position: absolute;
          font-size: 2rem;
          animation: showhead1 1.25s forwards;

          opacity: 0;
        }
        .heading2 {
          position: absolute;
          font-size: 2rem;
          animation: showhead2 1.25s 0.5s forwards;
          opacity: 0;
        }
      }
    }
  }
}

.logo {
  animation: appear 2s 4s forwards;
  opacity: 0;
  &__img {
    width: 35rem;
    height: 35rem;
  }
}

@keyframes showhead1 {
  from {
    bottom: 100%;
    left: -25%;
    opacity: 0;
  }
  to {
    bottom: 100%;
    left: 0;
    opacity: 1;
  }
}
@keyframes showhead2 {
  from {
    bottom: 100%;
    right: 0%;
    opacity: 0;
  }
  to {
    bottom: 100%;
    right: 25%;
    opacity: 1;
  }
}

@keyframes shownameBig {
  0% {
    bottom: 15%;
    opacity: 0;
  }

  75% {
    bottom: 25%;
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 25%;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (1200px <= width) {
  .text {
    animation: shownameBig 3s 1s forwards;
  }
  .logo {
    &__img {
      width: 40rem;
      height: 40rem;
    }
  }

  .header {
    .rect-main {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

@media (width <= 576px) {
  .text {
    animation: shownameSmall 3s 1s forwards;
  }
  .logo {
    &__img {
      width: 28rem;
      height: 28rem;
    }
  }

  .header {
    .rect-main {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
