@use "../utilities/colors" as c;

.main {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  // salon - section

  .salon,
  .how,
  .offer-cards {
    display: flex;
    flex-direction: column;

    &__img {
      width: 100%;
      max-height: 50rem;
      &--small {
        width: 100%;
        max-height: 50rem;
      }
      &--big {
        display: none;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 2rem 4rem 8rem 4rem;
      background-color: c.$black-main;
      color: c.$text-basic-light;

      &--heading {
        font-size: 4rem;
        letter-spacing: 0.6rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-family: "Oswald", sans-serif;
      }
    }
  }

  // offer - offer cards section

  .offer-cards {
    // margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cards-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      max-width: 80rem;
      padding: 5rem 0;
      background-color: c.$white-light;
    }
  }

  .offer-cards__card {
    position: relative;
    margin: 10px;
    height: 450px;
    width: 300px;
    border-radius: 15px;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    padding: 5rem;
    box-shadow: 2px 2px 8px rgba(57, 57, 57, 0.914);

    &--text {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      border-radius: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 80px 30px;
      background-color: rgba(0, 0, 0, 0.85);
      color: #fff;
      clip-path: circle(0% at 50% 95%);
      transition: clip-path 0.8s;

      .btn-wrapper {
        position: relative;
        transition: scale 0.3s;
        cursor: pointer;
        margin-top: 4rem;
        .work-btn {
          font-size: 1.75rem;
          padding: 1rem;
          color: c.$white-light;
          border: none;
          background: none;
          letter-spacing: 0.25rem;

          // box-shadow: 1px 1px 1px 5px c.$white-light;
        }
        .work-btn:hover {
          scale: 1.05;
        }
        &::before {
          position: absolute;
          top: 0;
          right: 0;
          content: "";
          width: 100%;
          height: 100%;
          border: 1px solid c.$gold-dark;
          border-radius: 5%;
          opacity: 0;
        }
        &:hover::before {
          animation: pulse 1s;
        }
      }
    }
    &--text-header {
      margin-bottom: 3rem;
      font-size: 3rem;
      letter-spacing: 0.25rem;
    }
    &--text-paragraph {
      text-align: left;
    }
  }

  .offer-cards__card:hover > .offer-cards__card--text {
    clip-path: circle(120% at 50% 90%);
  }

  .one {
    background-image: url("/dist/img/haircut4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .two {
    background-image: url("/dist/img/stockcake/hair_colorization3_best.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .three {
    background-image: url("/dist/img/stockcake/shaving_brush_set.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .four {
    background-image: url("/dist/img/stockcake/hair_styling_pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// price list section

.price-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;

  &__container {
    margin: 5rem;
    padding-top: 2rem;
    // background-color: #ffffff;
    // border: 3px solid #000;
    border-radius: 0.8rem;
  }

  &__heading-box {
    color: c.$text-basic-light;
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &__heading {
    font-size: 4rem;
    padding: 5rem 0rem 5rem 0rem;
    letter-spacing: 0.6rem;
    font-family: "Oswald", sans-serif;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 2rem;
    padding-left: 2rem;

    &--subheading {
      margin-bottom: 1rem;
      grid-column: 1 / 6;
      grid-row: 0 / 1;
    }
    &--longhair {
      grid-column: 1/5;
      grid-row: 2 / 3;
    }
    &--longhair-price {
      grid-column: 6 / 7;
      grid-row: 2 / 3;
    }
    &--shorthair {
      grid-column: 1 / 5;
      grid-row: 3 / 4;
    }
    &--shorthair-price {
      grid-column: 6 / 7;
      grid-row: 3 / 4;
    }
  }
  &__box > p {
    font-size: 2rem;
    padding: 0.5rem;
  }

  &__list {
    padding: 0;
    &--item {
      grid-row: 1 / 2;
      list-style-type: none;
      font-size: 1.5rem;
      width: 100%;
      margin: 1rem 0 1rem 0;
      color: blue;
    }
  }
}

.hidden {
  transform: translateX(-100%);
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}
.hidden-right {
  transform: translateX(100%);
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}
.hidden-vanished {
  opacity: 0;
  filter: blur(5px);
  transition: all 0.5s;
}
.show {
  transform: translateX(0);
  filter: blur(0);
  opacity: 1;
}
// -------------------- keyframes -------------------

@keyframes slideIn {
  to {
    scale: 1;
    opacity: 1;
  }
}

// -------------------------@media ----------------

@media (1200px <= width) {
  .big-container {
    display: flex;
    flex-direction: column;
    width: 79%;
    margin-left: 21%;

    .main {
      .salon {
        flex-direction: row;
        &__text {
          width: 50%;
        }
        &__img {
          width: 50%;
          &--small {
            display: none;
          }
          &--big {
            display: block;
            width: 50%;
            min-height: 50rem;
            // height: 100%;
          }
        }
      }
      .how {
        flex-direction: row-reverse;
        &__text {
          width: 50%;
        }
        &__img {
          width: 50%;
          background-color: pink;
          &--small {
            display: none;
          }
          &--big {
            display: block;
            width: 50%;
            min-height: 50rem;
            // height: 100%;
          }
        }
      }
      .offer-cards__text {
        padding-left: 10rem;
        padding-right: 10rem;
      }
      .price-list {
        &__container {
          width: 70%;
          padding-top: 10%;
          padding-bottom: 10%;
        }
        &__heading {
          font-size: 5rem;
        }
        &__box--subheading {
          font-size: 3rem;
        }
      }
      .price-list__list--item {
        font-size: 2rem;
      }
    }
  }
}

@media (768px <= width <= 1199px) {
  .main {
    display: flex;

    .salon {
      flex-direction: row;
      &__text {
        width: 50%;
      }
      &__img {
        width: 50%;
        &--small {
          display: none;
        }
        &--big {
          display: block;
          width: 50%;
          min-height: 50rem;
        }
      }
    }
    .how {
      flex-direction: row-reverse;
      &__text {
        width: 50%;
      }
      &__img {
        width: 50%;
        &--small {
          display: none;
        }
        &--big {
          display: block;
          width: 50%;
          min-height: 50rem;
        }
      }
    }

    .offer-cards__text {
      padding-left: 10rem;
      padding-right: 10rem;
    }
    .price-list {
      &__container {
        width: 70%;
        padding-top: 10%;
        padding-bottom: 10%;
      }
      &__heading {
        font-size: 5rem;
      }
      &__box--subheading {
        font-size: 3rem;
      }
    }
    .price-list__list--item {
      font-size: 2rem;
    }
  }
}

@media (576px <= width < 768px) {
  .main {
    .price-list {
      &__container {
        padding-top: 10%;
        padding-bottom: 10%;
      }
      &__heading {
        font-size: 5rem;
      }
      &__box--subheading {
        font-size: 3rem;
      }
    }
    .price-list__list--item {
      font-size: 2rem;
    }
    .salon {
      &__text {
        width: 100%;
      }
      &__img {
        &--small {
          display: none;
        }
        &--big {
          display: block;
          width: 100%;
          height: 100%;
          min-height: 52rem;
        }
      }
    }
  }
}
