@use "../utilities/colors" as c;

.main {
  display: flex;
  flex-direction: column;

  .salon,
  .offer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid c.$gold-dark;
    &__hero {
      width: 100%;
    }

    &__img {
      width: 100%;
      max-height: 50rem;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 4rem;
      padding-bottom: 10rem;
      background-color: #333;
      color: c.$white-light;
      &--heading {
        font-size: 4rem;
        letter-spacing: 0.6rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-family: "Oswald", sans-serif;
      }
      &--heading::first-letter {
        color: c.$gold-dark;
      }
    }
  }
}

// -------------------------@media ----------------

@media (1200px <= width) {
  .big-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 20vw;

    .main {
      .salon {
        flex-direction: row;
        &__hero {
          background-color: pink;
          width: 50%;
        }
        &__text {
          width: 50%;
        }
      }
      .offer {
        flex-direction: row-reverse;
        &__hero {
          background-color: coral;
          width: 50%;
        }
        &__text {
          width: 50%;
        }
      }
    }
  }
}

@media (768px <= width <= 1199px) {
  .main {
    display: flex;

    .salon {
      flex-direction: row;
      &__hero {
        background-color: pink;
        width: 50%;
      }
      &__text {
        width: 50%;
      }
    }
    .offer {
      flex-direction: row-reverse;
      &__hero {
        background-color: coral;
        width: 50%;
      }
      &__text {
        width: 50%;
      }
    }
  }
}
