@use "../utilities/colors" as c;

.burger {
  position: fixed;
  gap: 1rem;
  top: 2rem;
  right: 0.9rem;
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
  z-index: 1000;

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }
  &__bars {
    position: absolute;
    height: 0.3rem;
    width: 100%;
    background-color: rgb(2, 2, 0);
    // background-color: c.$white-light;
    border-radius: 25px;
    border: none;
    top: 50%;
    left: 50%;
    transition: background-color 0.3s, transform 0.3s ease;
    transform: translate(-50%, -50%);
  }
  &__bars-one {
    top: 25%;
  }
  &__bars-two {
    top: 50%;
  }
  &__bars-three {
    top: 75%;
  }
}

.white-burger {
  background-color: white;
}

.burger.active .burger__bars-one {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: c.$gold-dark;
}
.burger.active .burger__bars-two {
  opacity: 0;
}
.burger.active .burger__bars-three {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: c.$gold-dark;
}

.arrowup {
  position: fixed;
  right: 0;
  bottom: 6%;
  width: 5rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  transform: translateX(100%);
  transition: transform 0.3s;
  border-radius: 5px;
  z-index: 1;
  &__link {
    text-decoration: none;
    color: c.$black-basic;
  }
}

.nav {
  &__link {
    text-align: center;
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: c.$black-basic;
  }

  &__link,
  &__link::before,
  &__link::after {
    transition: 0.3s;
  }

  &__link::before,
  &__link::after {
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 0.6rem;
  }

  &__link::before {
    top: -2px;
    left: -8px;
    border-top: 0px solid c.$gold-dark;
    border-left: 0px solid c.$gold-dark;
  }

  &__link::after {
    bottom: -2px;
    right: -10px;
    border-bottom: 0px solid c.$gold-dark;
    border-right: 0px solid c.$gold-dark;
  }

  &__link:hover::before,
  &__link:hover::after {
    width: 25%;
    height: 50%;
  }

  &__link:hover::before {
    border-top: 2px solid c.$gold-dark;
    border-left: 2px solid c.$gold-dark;
  }
  &__link:hover::after {
    border-bottom: 2px solid c.$gold-dark;
    border-right: 2px solid c.$gold-dark;
  }
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: c.$white-light;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

  .border-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    border: 1px solid c.$gold-dark;
    border-radius: 5px;
    &__logo {
      position: absolute;
      left: 50%;
      bottom: 6%;
      width: 8rem;
      height: 8rem;
      padding: 1rem;
      transform: translateX(-50%);
    }
  }
}
.active {
  transform: translateX(0);
}

// -------------------------------B I G --------------------------------
@media (1200px <= width) {
  .burger {
    display: none;
  }

  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 21%;
    height: 100%;
    background-color: c.$black-basic;

    &__book {
      &--btn {
        position: relative;
        font-size: 1.75rem;
        padding: 1rem;
        color: c.$white-light;
        border: none;
        background: none;
        letter-spacing: 0.25rem;
        transition: scale 0.3s;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          border: 1px solid c.$gold-dark;
          border-radius: 5%;
          opacity: 0;
        }
        &:hover::before {
          animation: pulse 1s;
        }
      }
      &--btn::first-letter {
        color: c.$gold-dark;
      }
      &--btn:hover {
        scale: 1.05;
      }
    }

    &__logo {
      &--img {
        width: 13rem;
        height: 13rem;
      }
    }
    &__links {
      display: flex;
      flex-direction: column;
      &--link {
        color: c.$white-light;
        font-size: 2.5rem;
      }
    }
    .facebook-ico {
      font-size: 3.5rem;
      color: c.$white-light;
      transition: color 0.6s;
    }
    .facebook-ico:hover {
      color: c.$gold-dark;
    }
  }
}

@media (768px < width < 1199px) {
  .burger {
    display: none;
  }

  .nav-mobile,
  .arrowup {
    display: none;
  }
  .nav-desktop {
    position: sticky;
    top: 0%;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: #333;
    z-index: 10;
    transition: top 0.5s;
    &__book {
      position: relative;
      transition: scale 0.3s;
      cursor: pointer;
      &--btn {
        font-size: 1.75rem;
        padding: 1rem;
        color: c.$white-light;
        border: none;
        background: none;
        letter-spacing: 0.25rem;
      }
      &:hover {
        scale: 1.05;
      }
      &--btn::first-letter {
        color: c.$gold-dark;
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 100%;
        height: 100%;
        border: 1px solid c.$gold-dark;
        border-radius: 5%;
        opacity: 0;
      }
      &:hover::before {
        animation: pulse 1s;
      }
    }

    &__logo {
      &--img {
        width: 8rem;
        height: 8rem;
      }
    }

    &__links {
      display: flex;
      flex-direction: row;
      &--link {
        font-size: 1.75rem;
        color: c.$white-light;
        padding: 1rem;
        margin-left: 3rem;
        margin-bottom: 0;
      }
    }
  }
  .nav-transition {
    top: -100%;
  }

  .facebook-ico {
    font-size: 2rem;
    color: c.$white-light;
    transition: color 0.6s;
  }
  .facebook-ico:hover {
    color: c.$gold-dark;
  }
}

@media (width <= 576px) {
  .nav__link {
    padding: 0.3;
  }
}
@media (height <= 590px) {
  .border-container {
    &__logo {
      display: none;
    }
  }
}
@media (height <= 330px) {
  .nav-mobile__link {
    padding: 0;
    font-size: 2rem;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulse2 {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
